<div class="mercury-snippet-panel">
  <div class="filter">
    <input class="filter focusable" type="text">
  </div>
  <ul>
    <li data-filter="example, favorite, beer">
      <img draggable="true"
           alt="Example Snippet"
           src="/assets/mercury/default-snippet.png"
           data-snippet_name="example"
           data-snippet_show_options="true"
           data-snippet_default_options='{"first_name":"Your First Name","favorite_beer":"Your Favorite Beer"}'
       />
      <h4>Example Snippet</h4>
      <div class="description">Example: Name and favorite beer</div>
    </li>


  </ul>
</div>