/*
 *= require_self
 *= require mercury/bootstrap/bootstrap
 *= require mercury/bootstrap/bootstrap-ish
 *= require mercury/bootstrap-overrides
 *= require mercury/dialog
 *= require mercury/lightview
 *= require mercury/modal
 *= require mercury/statusbar
 *= require mercury/toolbar
 *= require mercury/tooltip
 *= require mercury/uploader
 *= require mercury/all_images
 *= require mercury/blueimp-fileupload/jquery.fileupload-ui
 *= require mercury/blueimp-imagegallery/jquery.image-gallery
 */


/* Disable text sizing in webkit (ipad/iphone etc -- should apply to mercury only) */
html {
  -webkit-text-size-adjust: none;
}

html, body {
  -webkit-transition: -webkit-transform 3s;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*[draggable=true], *[draggable=true]:active {
  cursor: move;
}

/*
$linkColor: #09F !default;
$linkColorHover: darken($linkColor, 15%) !default;
#mercury_about a { color: #09F; }
#mercury_table #table_display .selected { background: #09F; }
.mercury-uploader .mercury-uploader-progress div.mercury-uploader-indicator div {
  background-color: $linkColor;
  border: 1px solid $linkColorHover;
}
*/

.mercury-iframe {
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.mercury-focusable {
  position: absolute;
  opacity: 0;
}

.filter {
  margin: 0;
  padding: 0;
}